body{
  background-image: url('../images/Jet.png');
  background-size: cover;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.handjet-normal {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

h1{
  color:white !important;
  font-size: 120px !important;
}

.h2-css{
  font-size: 20px;
  color: white;
  font-family:monospace;
  font-weight: 800;
}

.spotify-playlist{
  width:500px;
  display: flex;
  justify-content: center;
}

.yapbtn{
  padding:12px;
  background-color: pink !important;
  font-size: 20px !important;
  color:aliceblue !important;
}

.content{
  background-color: #779CAB;
  border-radius: 20px;
  padding: 10px;
}

.heading{
  font-size:24px;
  color: #291F1E;
  font-weight: 700;
}

/* @media (max-width:578px){
  .content{
    width:200px;
  }
} */